mixin installInstructions(distro)
  case distro
    when 'Ubuntu'
      include ./instructions/ubuntu.pug
    when 'Debian'
      include ./instructions/debian.pug
    when 'Fedora'
      include ./instructions/fedora.pug
