h2 Install Git

p Verbose Guacamole currently requires you to have Git installed to use the version control features.

p The good news is, most Linux distros have Git installed by default, so you can probably skip this step. To make sure, run `git --version`, which should output your current version of Git.

p If Git is not installed, run <code>sudo dnf install git</code> to install it.

h2 Direct <code>.rpm</code> File

p First, find the most recent version on the #[a(href="https://github.com/benjaminbhollon/verbose-guacamole/releases") Github Releases page]. Don't pick a version that's title includes "Beta" or "RC", those are preview releases and not intended for normal use.

p Open the accordion labelled "Assets" at the bottom of the release. Download the file that ends in ".rpm".

p If you already know how to install <code>.rpm</code> files on #{distro}, go ahead and do so. It's likely that if you simply open the file, it will open in the Software app and you can click install. If this doesn't work, look for guidance online for how to install your <code>.rpm</code> file.

h3 Upgrading

p To upgrade your version, follow the exact same steps and the new version will replace your old version. Make sure to close any running windows from Verbose Guacamole first!

h2 Direct <code>.zip</code> File

p Alternatively, you can run a portable version of VerbGuac via a <code>.zip</code> file. Download the release file that ends with <code>.zip</code> and includes the term <code>linux</code> in it.

p Unzip the file. In the resulting folder, there should be a file named <code>verbose-guacamole</code>. Run this file to run the program.

p Please note, this version of VerbGuac is not as rigorously tested as the others, so be cautious using it.

h2 In the Future

p We are planning to create a package repository of some sort to ease installation and upgrading of VerbGuac on #{distro} systems.

p We are also considering allowing distribution via snap and flatpak to improve cross-distro support.
