h2 Install Git

p Verbose Guacamole currently requires you to have Git installed to use the version control features.

p Unfortunately, Windows does not come with Git. If you'd like to test for it anyway, run <code>git --version</code> in the "Terminal" app, which should output your current version of Git if it is present.

p If Git is not installed, #[a(href="https://git-scm.com" target="_blank" rel="noopener") install it from the official website].

p For easiest installation, we recommend using the #[a(href="https://sourceforge.net/projects/git-osx-installer/" target="_blank" rel="noopener") install it from the official website].

p To confirm, you can run <code>git config --list</code>, which should output the values you set above.

h2 Direct <code>.dmg</code> File

p First, find the most recent version on the #[a(href="https://github.com/benjaminbhollon/verbose-guacamole/releases") Github Releases page]. Don't pick a version that's title includes "Beta" or "RC", those are preview releases and not intended for normal use.

p Open the accordion labelled "Assets" at the bottom of the release. Download the file that ends in ".dmg".

p You should be able to open the file normally. You will be presented two icons, a file labelled "Verbose Guacamole" and a folder labelled "Applications". Drag the file icon onto the folder icon, and it will add VerbGuac to your applications.

h2 Direct <code>.zip</code> File

p Alternatively, we provide a portable version of Verbose Guacamole. To use it, download the file including "darwin" (Mac OS's codename) and ".zip" instead of the ".dmg" file.

p Unzip this wherever you would like to store Verbose Guacamole. To run the program, open the file named "Verbose Guacamole".

p: i Note: This has not been tested, but you could probably drag the file named "Verbose Guacamole" into your applications folder and the program will be able to be launched normally.

h3 Upgrading

p To upgrade your version, follow the exact same steps and the new version should replace your old version. Make sure to close any running windows from Verbose Guacamole first!

h2 In the Future

p We are working on a system to automatically notify you when new updates are available. Until then, just check the home page of the app every now and then, which lists releases along with what your current release is.
