h2 Direct <code>.deb</code> File

p First, find the most recent version on the #[a(href="https://github.com/benjaminbhollon/verbose-guacamole/releases") Github Releases page]. Don't download a version that's title includes "Beta" or "RC", those are preview releases and not intended for normal use.

p Open the accordion labelled "Assets" at the bottom of the release. Download the file that ends in ".deb".

p You should be able to open the file normally, and it will load in the Ubuntu Software program. From there, click "Install".

h3 Upgrading

p To upgrade your version, follow the exact same steps and the new version will replace your old version. Make sure to close any running windows from Verbose Guacamole first!

h2 In the Future

p We are planning to create a PPA to ease installation and upgrading of VerbGuac on Ubuntu systems.

p We are also considering allowing distribution via snap and flatpak to improve cross-distro support.
