extends layout

block content
  .spacer.vr
  h1= message
  h2= error.status
  .section
    .section__text(style="text-align: center")
      if (error.status === 404)
        p You've found the site's shadow personality... maybe you should go <a href="/">home</a>.
        p Or, check out our post on <a href="/blog/shadow-functions">shadow functions</a>!
