extends layout

block content
  .hero
    .spacer
    .hero-spread
    .section__text
      h1.vr.hero-title
        span(data-aos="fade", data-aos-duration="400") Verbose
        br
        span(data-aos="fade", data-aos-duration="400", data-aos-delay="400") Guacamole

  .section
    .section__text
      h1 Hello World
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, a.
