extends layout

block content
  .spacer

  .section
    .section__text
      h1.vr Terms of Use
      h5.h5.vr Disclaimer
      p The materials on this website are provided on an ‘as is’ basis. We provide no guarantees or warranties that it will be correct or even work at all. Use it at your own risk.

      p However, if you do find a problem, We'd like to hear about it, so don’t hesitate to <a href="/contact">contact us</a>.

    .section__text
      h5.h5.vr Accuracy of Materials
      p We're human. We make mistakes. Things we post might not be right, so take all content posted with a grain of salt.

    .section__text
      h5.h5.vr Links
      p We can’t be responsible for any websites outside of our control, even if we link to them, so use them at your own risk. See their own individual terms for more information.

    .section__text
      h5.h5.vr Account Registration

      p This site collects only the data you supply to give you the services we do. You shall not post content that is harmful, illicit, or deemed inappropriate by the site owners and or moderators of the site through the use of the site.

      p We reserve the right to remove any content you post or disable your account at any time at our discretion in the interests of keeping our site safe and secure for everyone involved.

    .section__text
      h5.h5.vr Modifications
      p We may revise these terms of service at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.

      p These terms and conditions effective as of 4 September 2021.
