.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: $green transparent transparent transparent;
}
.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent $green transparent;
}
.medium-editor-toolbar {
  background-color: $green;
  border-radius: $border-radius;

  li {
    padding: 0;

    button {
      min-width: 60px;
      height: 60px;
      border: none;
      border-right: 1px solid lighten($green, 15%);
      background-color: transparent;
      color: #fff;
      -webkit-transition: background-color .2s ease-in, color .2s ease-in;
      transition: background-color .2s ease-in, color .2s ease-in;

      b {
        font-size: 1.3em;
      }

      &:hover {
        background-color: darken($green, 15%);
        color: #fff;
      }
    }

    .medium-editor-button-active {
      background-color: darken($green, 15%);
      color: #fff;
    }

    .medium-editor-button-last {
      border-right: none;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .medium-editor-button-first {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.medium-editor-toolbar-form {
  .medium-editor-toolbar-input {
    height: 60px;
    background: $green;
    color: #fff;

    &::-webkit-input-placeholder {
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
    }
    &:-ms-input-placeholder {
      color: #fff;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  a {
    color: #fff;
  }
}

.medium-editor-toolbar-anchor-preview {
  background: $green;
  color: #fff;
}