.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vr {
  margin-bottom: $base-sizing;
}

.button {
  display: inline-block;
  background: white;
  text-decoration: none;
  padding: $base-sizing/3 $base-sizing;
  cursor: pointer;
  border-radius: $border-radius;
  font-size: 1.1em;
  transition: .2s;

  &__purple {
    background: $green;
    color: white;
  }

  &:active {
    background: darken(#fff, 15%)!important;
  }
}

[data-aos="line-grow"] {
  width: 100%;

  &.aos-animate {
    opacity: 1;
    animation: lineGrow;
    animation-duration: 2s;
  }
}

@keyframes lineGrow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 110vh;
  color: white;
  position: relative;

  background: url('/images/hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  hr {
    outline: 0;
    opacity: 0;
    height: $base-sizing*0.2;
    margin: $base-sizing auto;
    border-color: $white;
  }

  &-spread {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }

  .hero-title {
    font-size: 3em;
  }

  &--socials {
    position: absolute;
    bottom: $base-sizing;
    opacity: 0.75;
    width: 100%;
    max-width: $content-width;
    z-index: 10;
    color: $white;
    font-size: 1.2em;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  }
}

.hero-left {
  flex: 1;
  min-width: $base-sizing*13;
}

.hero-right {
  flex: 1;
  min-width: $base-sizing*13;
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    border-radius: $base-sizing*0.2
  }
}

@keyframes lineGrow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__text {
    padding: $base-sizing $base-sizing*2 0;
    max-width: $content-width;
    width: 100%;
    z-index: 5;
  }

  &__colored {
    background: $green;
    color: $white;
  }
}

.social {
  width: $base-sizing*5;
  height: $base-sizing*5;
  display: block;
  position: relative;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  padding: 3px;
  border-radius: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: white;
    border-radius: 100%;
  }

  &::after {
    content: '';
    background-image: url('/images/icon.jpg');
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    z-index: 5;
    border-radius: $base-sizing*5;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    &__text {
      text-align: left;
    }
  }

  .hero {
    hr {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/*.hero-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;

  .box {
    background-color: #eeeeee88;
    width: $base-sizing*5;
    height: $base-sizing*20/3;
    border-radius: .5em;
    position: absolute;
    z-index: -100;
  }

  .box:nth-child(1) {
    left: 7.3vw;
    top: 33.3%;
  }

  .box:nth-child(2) {
    left: 9vw;
    top: 15.3%;
  }

  .box:nth-child(3) {
    right: 7.3vw;
    top: -6.3%;
  }

  .box:nth-child(4) {
    right: 5vw;
    top: 25%;
  }
}*/

.posts {
  margin: 0;
  padding: 0;
  width: 100%;

  .post {
    width: 100%;
    list-style-type: none;
  }
}

.attribution {
  color: rgba($white,0.5)
}

.about__sections {
  display:flex;
  flex-wrap:wrap-reverse;
  gap: $base-sizing
}

ul.cards {
  display: flex;
  flex-direction: row;
  gap: $base-sizing;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;

  .cards--draft {
    border-color: $green!important;
  }

  .cards--blog {
    flex: 1;
    flex-basis: $base-sizing*10;
    border: var(--text-color) solid 3px;
    border-radius: $border-radius;
    color: var(--text-color);
    padding: $base-sizing;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    .img-wrapper {
      border-radius: $border-radius;
      overflow: hidden;
      display: flex;
      width: 100%;
      max-height: $base-sizing*10;
      align-items: center;
      justify-self: center;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  a {
    
    &:hover {
      color: $white;

      .cards--card .logo {
        background-color: darken($green, 5%);
      }
    }

    &:active {
      .cards--card .logo {
        background-color: darken($green, 7%);
      }
    }
  }

  .cards--card {
    border-radius: $border-radius;
    text-align: center;
    color: var(--text-color);
    padding: $base-sizing;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $base-sizing/2;
    flex: 3;
    max-width: $base-sizing*5;

    h4 {
      font-size: 1.2em;
    }

    .logo {
      transition: $transition-time ease-in;
      height: $base-sizing*2;
      width: $base-sizing*2;
      border-radius: 100%;
      background: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75em;

      & ~ h4 {
        text-decoration: underline;
      }
    }
  }
}

.tip {
  opacity: 0.8;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $base-sizing/2;
  text-align: left;

  .error {
    color: #ff6961;
  }

  .form-group {
    width: 100%;

    &--50 {
      flex: 1;
      min-width: $base-sizing*10;
    }
  }

  label {
    display: inline-block;
    margin-bottom: $base-sizing/4;
  }

  input, textarea, div[contenteditable], tags {
    padding: $base-sizing/4 $base-sizing/2;
    outline: 0!important;
    border: solid 3px var(--text-color)!important;
    border-radius: $border-radius;
    width: 100%;
  }

  div[contenteditable] {
    min-height: $base-size*30;
  }

  textarea, div[contenteditable] {
    resize: vertical;
  }
}

.typing__options {
  padding: $base-sizing;
  max-width: $content-width;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  gap: $base-sizing;


  &--option {
    flex: 1;
    min-width: $content-width/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: $green;
    border-radius: $border-radius;
    padding: $base-sizing;
    padding-top: $base-sizing*2;
    cursor: pointer;

    ul {
      margin-left: $base-sizing;
      text-align: left;
    } 

    a { border: white solid 3px }
  }

  &--costs {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: $base-sizing/2;
    justify-content: space-between;
    flex-wrap: wrap;

    .full-length {
      flex: 0 0 100%;
    }
  }

  &--cost {
    font-size: 1.5em;
    flex: 1;

    span {
      display: block;
      font-size: .5em;
    }
  }
}

.reviews__container {
  width: 100%;
  max-width: 800px;
  height: $content-width/2;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  input[type=radio] {
    display: none;
  }
  
  .review__card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
    background-color: $green;
    overflow-y: hidden;
    border-radius: $border-radius;
    padding: $base-sizing;
  }

  .cards {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    overflow-y: auto;
    cursor: default;
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
  
  .player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
  }
  
  .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
  }
  
  .play-icon{ margin-right: 10px; }
  
  .song-info {
    width: calc(100% - 32px);
    display: block;
  }
  
  .song-info .title {
    color: #403d40;
    font-size: 14px;
    line-height: 24px;
  }
  
  .sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subtitle, .time {
    font-size: 12px;
    line-height: 16px;
    color: #c6c5c6;
  }
  
  .time {
    font-size: 12px;
    line-height: 16px;
    color: #a5a5a5;
    font-weight: 500;
    margin-left: auto;
  }
  
  .progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
  }
  
  .progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
  }
  
  .info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
  }
  
  #item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }
}

.search-bar {
  display: none;

  &.display {
    display: flex;
  }

  input, button {
    margin: 0;
    height: 45px;
  }

  button {
    display: flex;
    align-items: center;
  }
}

.search-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 100%;
  transition: $transition-time;
  text-align: center;
  color: black!important;
}

.search-checkbox {
  &:hover {
    & ~ .search-link i {
      background:rgba($white, 0.9);
    }
  }

  &:checked {
    & ~ .search-link {
      background: $green;
      color: $white;
    }

    & ~ .search-bar {
      display: flex;
    }

    & ~ .nav-links {
      display: none;
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    background: transparent;
    width: $base-sizing/3;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.5);
  }
}

input[type=checkbox]:checked + .banner {
  display: none;
}

.banner {
  width: 100%;
  border-radius: $border-radius;
  padding: $base-sizing/3 $base-sizing/2;
  border: solid 3px #ff6961;
  background: lighten(#ff6961, 23%);
  color: #ff6961;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;

  .banner--close {
    cursor: pointer;
    border: solid 3px #ff6961;
    transition: $transition-time;
    width: $base-sizing;
    height: $base-sizing;
    font-size: .9em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    &:hover {
      background: #ff6961;
      color: white;
    }
  }
}
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: $base-sizing*20;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background: transparent
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: $base-sizing*2.5;
}

.waves .shape-fill {
  fill: var(--background-color);
}

iframe {
  background-color: transparent;
}
