:root {
  --avocado-color: #a5f0a2;
  font-size: 1.2em;
}

body, body * {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Trebuchet MS', Calibri, sans-serif;
  margin: 0;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  accent-color: var(--avocado-color);
}

.--center {
  text-align: center;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

a {
  color: inherit;
}

#content {
  flex: 1 0 auto;
  padding: 0.5em;
}

article {
  display: inline-block;
  width: 100%;
  max-width: 60ch;
  text-align: left;
}

article h2 {
  text-align: center;
}

:not(#navbar > a)::selection {
  background-color: var(--avocado-color);
  color: #000;
}

/* Header */
header h1 {
  font-size: 2.25em;
  margin: 0.25rem 0;
  max-width: 700px;
  display: inline-block;
}

header p {
  margin-top: 0.25rem;
}

/* Navbar */
#navbar {
  top: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
}

#navbar > a {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  transition: background-color 200ms, color 200ms;
}

#navbar > a:hover {
  background-color: var(--avocado-color);
  color: #000;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.5em;
  border-top: 2px solid var(--color);
}

footer a {
  color: inherit;
}

.codewithlove a {
  text-decoration: none;
  font-weight: bold;
  color: var(--avocado-color);
  transition: text-shadow 0.2s;
}

.codewithlove a:hover {
  text-shadow: 0 0 0.6em;
}

/* Button Links */
.button {
  text-align: center;
}

.button a {
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
}

.button a:focus, .button a:focus {
  outline: 2px solid orangered;
}

.button.--black a {
  color: #fff;
  background-color: #000;
}
