:root {
  --avocado-color: #a5f0a2;
}

body, body * {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Trebuchet MS', Calibri, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
}

#content {
  flex: 1 0 auto;
  padding: 0.25em;
}

:not(#navbar > a)::selection {
  background-color: var(--avocado-color);
  color: #000;
}

/* Header */
header h1 {
  font-size: 2.5em;
  margin: 0.25em 0;
}

header p {
  margin-top: 0.25em;
}

/* Navbar */
#navbar {
  top: 0.25em;
  left: 0.25em;
  right: 0.25em;
  margin: 0 0.25em;
  color: #fff;
  background-color: #000c;
  position: sticky;
  border-radius: 0.25em;
  overflow: hidden;
}

#navbar > a {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  transition: background-color 200ms, color 200ms;
}

#navbar > a:hover {
  background-color: var(--avocado-color);
  color: #000;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  margin: 0;
  text-align: center;
  padding: 0.5em;
  border-top: 2px solid var(--color);
}

footer a {
  color: inherit;
}

.codewithlove a {
  text-decoration: none;
  font-weight: bold;
  color: var(--avocado-color);
  transition: text-shadow 0.2s;
}

.codewithlove a:hover {
  text-shadow: 0 0 0.6em;
}
