extends layout.pug

block variables
  - title = "How to Contribute"

block content
  article
    h2 Contributing Code
    p Verbose Guacamole is built by volunteer coders, and you can join their ranks! Head on over to GitHub to see how you can help today!
    p.button.--black: a(href="https://github.com/benjaminbhollon/verbose-guacamole/contribute" target="_blank" rel="noopener") Contribute on Github
  br

  article
    h2 Documentation Writing
    p Soon, there will be a way to put your writing skills to use for the good of Verbose Guacamole!
    p VerbGuac takes a lot of documentation; are you up to the task of writing tutorials and guides to help new users figure it out?

  br

  article
    h2 Beta Testing and Bug Reporting
    p We can always use more help finding bugs. If you see anything wrong, have a suggestion, or thought of a great idea to improve VerbGuac, create an Issue on Github to let us know!
    p.button.--black: a(href="https://github.com/benjaminbhollon/verbose-guacamole" target="_blank" rel="noopener") Create an Issue
