extends layout.pug

block variables
  - title = "How to Contribute"

block content
  article
    h2 Contributing Code
    p Verbose Guacamole is built by volunteer coders, and you can join their ranks! Head on over to GitHub to see how you can help today!
    p.button.--black: a(href="https://github.com/benjaminbhollon/verbose-guacamole/contribute" target="_blank" rel="noopener") Contribute on Github
  br

  article
    h2 Documentation Writing
    p Writing documentation is a simple and easy way to use your writing skills to give back to the community!
    p VerbGuac takes a lot of documentation; are you up to the task of writing tutorials and guides to help new users figure it out?
    p.button.--black: a(href="https://docs.verboseguacamole.com/en/latest/contributing/documentation/" target="_blank" rel="noopener") Write Documentation
  br

  article
    h2 Beta Testing and Bug Reporting
    p We can always use more help finding bugs. If you see anything wrong, have a suggestion, or thought of a great idea to improve VerbGuac, create an Issue on Github to let us know!
    p.button.--black: a(href="https://github.com/benjaminbhollon/verbose-guacamole/issues/new/choose") Create an Issue
